@tailwind base;
@tailwind components;
@tailwind utilities;



body {
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* From Uiverse.io by kamehame-ha */ 
.cards {
  display: flex;
  
  gap: 10px;
}

.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}
.cards .gray {
  background-color: #d7d6d6;
}

.cards .card {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 250px;
  border-radius: 10px;
  color: white;
  
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}


